@{
    ViewData["Title"] = "Login Page";
}

@model LoginUser

<div class="mx-auto w-50">
    <form asp-controller="Home" asp-action="SignIn" method="post">

        <h3 class="h3 mb-3 text-primary">Login to this Cool Site!</h3>

        <div class="form-group">
            <label class="form-label" asp-for="LoginEmail"></label>
            <span asp-validation-for="LoginEmail" class="text-danger"></span>
            <input class="form-control" asp-for="LoginEmail">
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="LoginPassword"></label>
            <span asp-validation-for="LoginPassword" class="text-danger"></span>
            <input class="form-control" asp-for="LoginPassword">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

    </form>
    <div class="text-center mt-3">
        <p>Not a member?</p>
        <a href="/">Register!</a>
    </div>
</div>
